@using Project_WebBanGiay.Controllers
<span style="float:right">
    <a class="btn btn-light " href="@Url.Action("GioHang","GioHang")" style="border:1px solid #000">
        <ion-icon style="width:20px;height:20px" name="cart-outline"></ion-icon> GIỎ HÀNG CỦA BẠN(@ViewBag.ToSoLuong)
    </a>
</span>